

/* Utils */

.hidden-md-down {
  display: none;
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none!important;
  }
  .hidden-md-down {
    display: block;
  }
}

.blog-feed__header-title {
    color: #fff;
    font-family: Aller-regular, sans-serif;
}

.blog-feed__header-title h1 {
    text-shadow: none;
    font-weight: 700;
    padding-right:0px;
}

/* New */
.svg-icon--guide {
    height: 20px;
    width: auto;
    color: #fff;
    margin: -2px 3px -3px;
}

.category-blog .banner-content .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.latest-posts__title,
.three-col-loop__title {
    font-family: aller-regular, sans-serif;
    font-size: 2.1rem;
    padding: 0;
    margin: 0;
}

.latest-posts__title strong,
.three-col-loop__title strong {
    font-style: italic;
    font-family: aller-bold;
}

.latest-posts__post-title,
.three-col-loop__post-title {
        font-family: 'Vesper Libre', serif;
        font-size: 1.625rem;
        line-height: 1.2;
        color: #E57022;
        margin-bottom: 0.2rem;
}

.three-col-loop__post-title {
    font-size: 1.25rem;
}

.page-banner {
    overflow: hidden;
}

.latest-post__subtitle,
.three-col-loop__subtitle {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: Aller-regular, sans-serif;
    color: #4e4e4e;
    letter-spacing: normal;
    margin: 0 0 1.1rem;
}

.latest-posts__post:hover,
.three-col-loop__post:hover {
    opacity: .7;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

.three-col-loop__img-box,
.latest-posts__img-box {
  height: 235px;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}
.latest-posts__img-box img,
.three-col-loop__img-box img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
  z-index: 1;
}


.latest-posts__excerpt,
.three-col-loop__excerpt {
    font-size: 16px;
}

.read-more {
    color: #C23333;
    display: inline-block;
}

.latest-posts__post-date,
.three-col-loop__post-date {
    font-weight: bold;
    margin-bottom: 1rem;
}

.latest-posts__post-date em,
.three-col-loop__post-date em {
    font-weight: 500;
}

.three-col-loop__post,
 .latest-posts__post {
    margin-bottom: 2rem;
}

@media (min-width:768px) {
.three-col-loop__post,
 .latest-posts__post {
      margin-bottom: 0;
  }
}


.latest-posts__container,
.three-col-loop__container {
    margin-bottom: 2.5rem;
}

@media (min-width:768px) {
    .latest-posts__container,
    .three-col-loop__container {
      margin-bottom: 4.5rem;
  }
}

.three-col-loop__img-box {
    height: 165px;
}

.three-col-loop__view-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (min-width:768px) {
  .three-col-loop__view-more.--longer {
      margin-top: 3rem;
    }
}

.three-col-loop__view-more.--longer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* margin-top: 1rem; */
}

.three-col-loop__view-more.--longer .btn {
    min-width: 13rem;
    text-align: center;
    max-width: 100%;
}

.title-container {
    margin: 2.6rem 0;
}

.title-container:after {
   content: "";
   width: 100%;
   max-width: 732px;
   height: 5px;
   background: #a01a16;
   display: block;
}


.title-zone__container {
    margin-bottom: 2.5rem;
}

.title-group:after {
    content: "";
    width: 100%;
    max-width: 479px;
    height: 5px;
    background: #a01a16;
    display: block;
}


.btn.btn--orange {
    text-transform: uppercase;
    background: #f39200;
    color: #fff;
    padding: 0.4rem 1.4rem;
    font-weight: bold;
    text-align: center;
    display: inline;
    font-size: 1.2rem;
}


@media (min-width: 1400px) {
  .banner-content .btn.btn--orange {
    padding: 0.8rem 2rem;
    font-size: 1.23rem;
}

}

.btn.btn--orange:hover {
    opacity: .7;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

.link--style-inherit {
    color: inherit;
    background: inherit;
}

.link--style-inherit:hover {
    color: inherit;
}

/* May need to delete */


.blog-loop-cats__tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: auto;
  padding: 0;
  /* margin-left: -1px; */
  border-bottom: 1px solid #a01a16;
}

.blog-loop-cats__tab-group:first-child {
  /* width: 78%; */
}

.blog-loop-cats__tab {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -1px;
}
.blog-loop-cats__tab a {
  font-weight: 400;
  color: #252525;
  background: rgb(236,236,242);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(236,236,242,1)), to(rgb(246, 247, 248)));
  background: linear-gradient(180deg, rgba(236,236,242,1) 0%, rgb(246, 247, 248) 100%);
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 1px 0.152rem;
  display: inline;
  padding: 0.7rem .9rem;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.blog-loop-cats__tab a:hover {
  background: #a02116;
  color: #fff;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}
.blog-loop-cats__tab.active a {
  color: #a02116;
  border-color: #a02116;
  border-bottom: 1px solid #f6f7f8;
  position: relative;
  z-index: 2;
  margin-bottom: 0px;
}

.blog-loop-cats__tab.active a:hover {
  opacity: .8;
  color: #fff;
}
.blog-loop-cats__tab-content {
  display: none;
  margin: 2.5rem 0 4rem;
}
.blog-loop-cats__tab-content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 769px) {
  .three-col-loop__view-more {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1rem;
  }

  .btn.btn--orange {
    width: 100%;
  }

  .title-zone__container{
    margin-bottom: 1rem;
  }
  .three-col-loop__view-more.--longer {
    padding: 1rem 0;
  }
}
@media (max-width: 1200px) {
    .category-blog .banner-content .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    line-height: 1.5;
    font-size: 0.8rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.category-blog .banner-content .content h1 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0.2rem;
}
.category-blog .banner-content .content p {
    margin-bottom: 0.5rem;
}
}
