html { -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */ }

@media (max-width:1365px) {

    .section-5 {
        overflow: hidden;
    }
    
    #slideshow-5 {
        max-width: 440px;
        position: relative;
        margin: auto;
        overflow: visible;
    }
    
    #slideshow-5 .grid-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 500% !important;
        transition-duration: 1s;
    }
    
    #slideshow-5 .grid-content .grid-box {
        box-sizing: border-box;
        width: 20% !important;
        float: left;
        padding: 0 20px;
        clear: none !important;
    }
    
    #slideshow-5 .grid-content,
    #slideshow-5,
    #slideshow-5 .grid-content .grid-box  .testimonial {
        height: 300px !important;
    }
    
    .testimonial p {
        font-size: 20px;
        line-height: 26px;
    }
    
    .fixed-info a,
    .fixed-info .fa-comment,
    .fixed-info .fa-phone {
        font-size: 16px;
    }
    
    .footer-social-group .footer-social-icons li a {
        font-size: 20px;
    }
    
    .testimonial:after {
        display: none;
    }
    
}
@media (max-width:500px) {
    #slideshow-5 {
        overflow: hidden;
    }
}