/*
Theme Name: Vista College
*/

html {
    margin: 0;
}

body {
    color: #4e4e4e;
    margin: 0;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    background: #fff;
    font-weight: 300;
    overflow-y: scroll;
    line-height: 25px;
    overflow-x: hidden;
}

a {
    color: #4e4e4e;
    text-decoration: none;
}

a:hover {
    color: #a01a16;
    text-decoration: none !important;
}

a:active,
a:hover,
a:focus,
a:visited {
    outline: 0;
    text-decoration: none !important;
}

article,aside,footer,header,main,nav,section {
    display: block;
}

b,strong {
    font-weight: 700;
}

hr {
    box-sizing: content-box;
    height: 0;
}

blockquote {
    font-weight: bold;
}

pre {
    font-family: monospace, serif;
    font-size: 1em;
    white-space: pre-wrap;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

legend {
    border: 0;
    padding: 0;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,input {
    line-height: normal;
}

button,select {
    text-transform: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus {
    outline: none;
}

.group:after,
.gform_wrapper ul.gfield_checkbox:after, 
.gform_wrapper ul.gfield_radio:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.widgettitle {
    display:none;
}

textarea, 
input { 
    outline: none; 
}

iframe {
    width: 100%;
    max-width: 100%;
}

/* Header ---------------------*/

header {
    padding: 25px 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(rgba(7, 16, 27, 0.9), rgba(7, 16, 27, 0));
    background: -o-linear-gradient(rgba(7, 16, 27, 0.9), rgba(7, 16, 27, 0));
    background: -moz-linear-gradient(rgba(7, 16, 27, 0.9), rgba(7, 16, 27, 0));
    background: linear-gradient(rgba(7, 16, 27, 0.9), rgba(7, 16, 27, 0));
}

.logo {
    float: left;
}

.logo img {
    max-width: 80%;
}

.header-right {
    float: right;
    padding-top: 28px;
}

.header-info {
    list-style: none;
    padding: 5px 5px;
    margin: 0;
    float: right;
    background-color: rgba(64,64,64,0.4);
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
}

.header-info .fa-phone {
    font-size: 24px;
    margin-right: 8px;
}

.header-info a {
    font-family: 'Vesper Libre', serif;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.header-info li {
    float: left;
    padding: 0px 20px;
}
.header-info li i.fa {
    font-size: 18px;
}
.header-info li span {
    font-size: 14px;
    font-family: Aller, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.header-info li i.fa-paper-plane {
    padding-right: 12px;
    font-size: 16px;
}


.search-get,
.fa-bars {
    float: right;
    display: table;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
    font-size: 18px;
}

.header-navigation .fa-bars {
    display: none;
    margin-left: 35px;
}

.search-get:hover,
.fa-bars:hover {
    color: #fff;
}

.menu-header-1-container {
    float: right;
}

#menu-header .menu-item-has-children {
    position: relative;
}

.open {
    position: absolute;
    display: block;
    right: 0;
    top: 12px;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    width: 26px;
    text-align: center;
    font-weight: 600;
    background: #3b4550;
    font-size: 17px;
    color: #111a24;
}

.open:hover {
    background: #fff;
}

#menu-header-1 {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 4;
}

#menu-header-1 .sub-menu {
    display: none;
}

#menu-header .sub-menu {
    display: block;
    overflow: hidden;
    max-height: 0;
}

#menu-header > li:last-child > a {
    border-bottom: 0;
}

#menu-header .sub-menu li a {
    padding-left: 30px;
    font-weight: 300;
}

#menu-header .sub-menu .sub-menu li a {
    padding-left: 60px;
}

#menu-header-1  li {
    float: left;
    margin: 0 15px;
    position: relative;
}

#menu-header-1 li:first-child {
    margin-left: 0;
}

#menu-header-1  li a {
    padding: 0 5px;
    color: #fff;
    font-family: aller-regular, sans-serif;
    font-size: 21px;
    text-shadow: 0px 1px 1px #555;
    padding-bottom: 10px;
}

#menu-header-1 > .current-menu-item > a,
#menu-header-1 > li > a:hover {
    border-bottom: 5px solid #b91d19;
}

#menu-header-1 .sub-menu {
    position: absolute;
    top: 35px;
    left: -30px;
    padding: 35px;
    padding-bottom: 30px;
    background: rgba(23, 32, 42, 0.9);
    z-index: -1;
    list-style: none;
    width: 250px;
}

#menu-header-1 .sub-menu li {
    margin: 0;
    float: none;
}

#menu-header-1 .sub-menu li a {
    color: #f39200 !important;  
    font-weight: 400;
    letter-spacing: 0.5px;
    display: table;
    font-size: 16px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#menu-header-1 .sub-menu li a:hover {
    color: #fff !important;
}

.search-section {
    position: fixed;
    top: 0;
    right: -400px;
    width: 330px;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 35px;
    background: #961a14;
    background: -webkit-linear-gradient(#ac3017, #961a14);
    background: -o-linear-gradient(#ac3017, #961a14);
    background: -moz-linear-gradient(#ac3017, #961a14);
    background: linear-gradient(#ac3017, #961a14);
    z-index: 100;
    color: #fff;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    display: none;
}

.search-section h2.section-title {
    color: #fff;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px;
}

.search-close {
    font-size: 30px;
    color: #6f150d;
    float: right;
    cursor: pointer;
}

.search-close:hover {
    color: #6f150d;
}

.search-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-section ul li {
    border-bottom: 1px solid #fff;
    padding: 6px 0;
}

.search-section ul li:last-child {
    border-bottom: 0;
}

.search-section ul li a {
    color: #fff;
}

#search {
    margin: 30px 0;
}

.search-input {
    width: 100%;
    border: 0;
    padding: 0 10px;
    background: #fff;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-weight: 300;
}

.search-submit {
    background: #6f150d;
    border: 0;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Vesper Libre', serif;
    font-size: 22px;
    height: 40px;
}

.search-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: -10px;
    padding-right: 55px;
}

.button {
    background: #6f150d;
    color: #fff;
    font-family: 'Vesper Libre', serif;
    font-size: 20px;
    padding: 11px 15px 6px 15px;
    margin-top: 25px;
    display: table;
}

.button:hover {
    color: #fff;
}

.page-banner {
    height: 450px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.banner-content {
    position: absolute;
    bottom: -18px;
    z-index: 0;
    width: 100%;
    max-width: 1500px;
    left: 50%;
    padding: 80px 0 30px 0;
    background: url(img/banner-after-3.png) no-repeat;
    background-position: top center;
    transform: translateX(-50%);
}

.banner-content h1 {
   color: #fff;
   margin-bottom: 0px;
   font-family: Aller, sans-serif;
   font-size: 36px;
   max-width: 1050px;
    text-shadow: 0px 1px 1px #555;
}

.banner-content h4 {
    position: absolute;
    top: 35px;
    right: 45px;
    color: #fff;
    font-size: 20px;
    display: none;
}

.breadcrumb,
.breadcrumb a {
    color: #a01a16;
    font-size: 15px;
    font-weight: 500;
    font-family: Aller, sans-serif;    
    background-color: transparent !important;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

.section-breadcrumb {
    max-width: 1500px;
    margin: 20px auto 0 auto;
}

.breadcrumb span {
    margin: 0 10px;
}

.first-page {
    margin-left: 0 !important;
}

.header-navigation {
    position: relative;
}

.dropdown {
    position: absolute !important;
    width: 830px;
    top: 35px;
    right: 0;
    padding: 32px 35px 35px 35px;
    background: rgba(23, 32, 42, 0.9);
    display: none;
    z-index: 3;
    box-sizing: content-box;
}

.dropdown div {
    float: left;
}

.dropdown div:first-child {
    margin-right: 35px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 240px;
    padding-right: 35px;
    float: left;
    box-sizing: content-box;
}

.dropdown div:last-child ul {
    padding-right: 0;
}

.dropdown ul li a {
    color: #f39200;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: table;
}

.dropdown ul li a:hover {
    color: #fff;
}

.dropdown h3 {
    font-family: aller-light, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 15px;
}

.dropdown h3 a {
    color: #fff;
}

.desktop-nav {
    float: right;
}

.mobile-nav {
    overflow: hidden;
    max-height: 0px;
    display: none;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background: #111a24;
}

.mobile-nav .section {
    padding: 15px 0 !important;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav ul li:last-child {
    border-bottom: 0;
}

.mobile-nav ul li a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 0;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    padding-right: 38px;
}

.mobile-buttons {
    display: none;
}

.request-info {
    text-align: right;
}

.request-info a {
    font-family: aller-regular, sans-serif;
    font-weight: 400;
    color: #e97a6d;
    text-decoration: underline;
    font-size: 17px;
}

.desktop .mobile-content,
.mobile .desktop-content {
    display: none;
}

/* Pages ---------------------*/

@font-face {
    font-family: aller-light;
    src: url(font/aller/aller.light.ttf);
}

@font-face {
    font-family: aller-regular;
    src: url(font/aller/aller.regular.ttf);
}

@font-face {
    font-family: aller-bold;
    src: url(font/aller/aller.bold-italic.ttf);
}

@font-face {
    font-family: aller-display;
    src: url(font/aller/aller.display.ttf);
}

h1,
h2,
h3,
h4 {
    margin: 0 0 25px 0;
}

h1 {
    font-family: 'Roboto', san-serif;
/*  font-family: 'Vesper Libre', serif;*/
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #a01a16;
}

h2 {
    font-family: aller-light, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #a01a16;
}

.section-22 {
    background: #f3f4f6;
}

.section-22 h2 b,
.request-right h2 b {
    font-family: aller-bold, sans-serif;
    font-weight: 700;
    font-style: italic;
    display: block;
}

h1.section-title,
h2.section-title {
    font-size: 44px;
    line-height: 50px;
    text-align: center;
}

.section-title b,
.program-areas h2 b {
    font-family: aller-display, sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #3d3d3d;
}

h4 {
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    color: #a01a16;
    letter-spacing: 1.5px;
}

.footer-description h4 {
  color: #a01a16;
    font-size: 16px;
    text-transform: uppercase;
}

p {
    margin: 0 0 25px;
}

.footer-description p {
    font-size: 15px;
}

p a,
.link,
.center-content li a {
    font-weight: 700;
    font-size: 17px;
    color: #a01a16;
}

.section {
    padding: 75px 0;
}

.content {
    position: relative;
    max-width: 1620px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 60px;
}

.grid {
    overflow: hidden;
    position: relative;
    margin-bottom: -30px;
}

.grid-box {
    float: left;
    box-sizing: border-box;
    padding: 0 30px 30px 0;
}

.grid-3 .grid-box {
    padding: 0 100px 30px 0;
}

.grid-2 .grid-content {
    width: calc(100% + 30px);
}

.grid-2 .grid-box {
    width: 50%;
}

.grid-2 .grid-content .grid-box:nth-child(2n+1) {
    clear: both;
}

.grid-3 .grid-content {
    width: calc(100% + 100px);
}

.grid-3 .grid-box {
    width: 33.33333%;
}

.grid-3 .grid-content .grid-box:nth-child(3n+1) {
    clear: both;
}

.grid-4 .grid-content {
    width: calc(100% + 30px);
}

.grid-4 .grid-box {
    width: 25%;
}

.grid-4 .grid-content .grid-box:nth-child(4n+1) {
    clear: both;
}

.grid-5 .grid-content {
    width: calc(100% + 30px);
}

.grid-5 .grid-box {
    width: 20%;
}

.grid-5 .grid-content .grid-box:nth-child(5n+1) {
    clear: both;
}

/* Home ---------------------*/

.section-1 {
    position: relative;
}

.slideshow-banner {
    height: 660px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slideshow-background {
    height: 210px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: -30px;
    max-width: 1500px;
    left: 50%;
    background: url(img/slide-after-33.png) no-repeat;
    background-position: top center;
    transform: translateX(-50%);
}

.banner-slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 660px;
    transition-duration: 1.2s;
}

.banner-slide {
    float: left;
    width: 20%;
    height: 660px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slideshow-boxes {
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    height: 520px;
}

.slideshow-boxes .content {
    height: 520px;
}


.slideshow-form {
    position: absolute;
    width: 470px;
    min-height: 520px;
    top: -15px;
    right: 60px;
    /* background: rgba(145, 15, 10, 0.9); */
    box-sizing: border-box;
    padding: 40px;
    color: #fff;
    z-index: 1;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ab4a3e+0,ab2526+44,ab2829+100&0.93+0,1+100 */
background: -moz-linear-gradient(top, rgba(171,74,62,0.93) 0%, rgba(171,37,38,0.96) 44%, rgba(171,40,41,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(171,74,62,0.93) 0%,rgba(171,37,38,0.96) 44%,rgba(171,40,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(171,74,62,0.93) 0%,rgba(171,37,38,0.96) 44%,rgba(171,40,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edab4a3e', endColorstr='#ab2829',GradientType=0 ); /* IE6-9 */
}
#gform_wrapper_2 input[type=text] {
    background: transparent;
    border-bottom: 1px solid #fff !important;
    color: #fff;
    margin-top: -10px;
}

#gform_wrapper_2 input[type=text]::-webkit-input-placeholder {
    color: #fff;
}

#gform_wrapper_2 input[type=text]:-moz-placeholder {
    color: #fff;
}

#gform_wrapper_2 input[type=text]::-moz-placeholder {
    color: #fff;
}

#gform_wrapper_2 input[type=text]:-ms-input-placeholder {
    color: #fff;
}

#request-page #gform_wrapper_2 input[type=text]::-webkit-input-placeholder {
    color: #ccc;
}

#request-page #gform_wrapper_2 input[type=text]:-moz-placeholder {
    color: #ccc;
}

#request-page #gform_wrapper_2 input[type=text]::-moz-placeholder {
    color: #ccc;
}

#request-page #gform_wrapper_2 input[type=text]:-ms-input-placeholder {
    color: #ccc;
}

.slideshow-form h2 {
    color: #fff;
    margin-top: -5px;
    border-bottom: 1px solid #fff;
    padding-bottom: 12px;
    margin-bottom: 15px;
    text-align: center;
}

.slideshow-form h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #f39200;
    margin-top: -5px;
    text-align: center;
}

.slideshow-box {
    height: 120px;
    width: calc(100% - 590px);
    box-sizing: border-box;
    padding: 0 60px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    position: absolute;
    bottom: 0;
    bottom: 40px;
    z-index: 1;
}

.slideshow-content {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 120px;
    padding-bottom: 30px;
}

.content-slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 120px;
    transition-duration: .6s;
}

.content-slide {
    float: left;
    width: 20%;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-arrows,
.slider-nav {
    display: none;
}

#slideshow-2 .slider-nav {
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 100% !important;
    position: absolute;
    bottom: 8px;
    left: 0 !important;
    margin-left: 0 !important;
}

#slideshow-2 .slider-nav a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #dadada;
    cursor:pointer;
    margin: 0 10px;
    border-radius: 50%;
}

#slideshow-2 a.slider-nav__item--current {
    background: #1f222d;
}

.slide-box {
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    display: table;
    height: 120px;
}

.slide-center {
    display: table-cell;
    vertical-align: middle;
}

.slide-box  a {
    margin-left: 10px;
    color: #f17400;
    font-family: aller-regular, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    text-shadow: 1px 0px;
}

#prev,
#next,
#news-prev,
#news-next,
#featured-prev,
#featured-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

#prev {
    left: 0px;
}

#next {
    right: 0px;
}

#news-prev,
#featured-prev {
    left: 60px;
    z-index: 1;
}

#news-next,
#featured-next {
    right: 60px;
    z-index: 1;
}

.section-2 {
    background: url(img/guestaccess.aspx.jpg) no-repeat;
    background-position: bottom center;
    padding-bottom: 120px;
    padding-top: 105px;
    position: relative;
}

.section-2 p {
    font-family: aller-regular, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

.careers-form {
    text-align: center;
    margin-top: 35px;
}

.careers-form select {
    width: 250px;
    height: 45px;
    border: none;
    border-right: 10px solid #f3f4f6;
    background: #f3f4f6;
    padding: 0 10px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 15px;
    box-shadow: 0 0 0 1px #ddd;
    box-sizing: border-box;
    color: #4e4e4e;
}

.careers-form a {
    pointer-events: none;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    color: #fff;
    margin: 0 15px;
    background: #c2302b;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.careers-form a i {
    font-size: 21px;
    font-weight: bold;
}

.section-2:after {
    opacity: 0.6;
    content: "";
    height: 92px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(img/section-1-after-2.png) no-repeat;
    background-position: bottom center;
}

.section-22 .grid-box p {
    width: 100%;
    max-width: 315px;
}

.section-22 .grid {
    margin-top: -25px;
}

.section-3 {
    background-size: cover;
    background-position: center;
}

.divider-1 {
    max-width: 100px;
    clear: both;
    border-top: 5px solid #a01a16;
    margin: 25px 0;
}

.section-3 .section-title {
    text-align: center;
    color: #4e4e4e;
}

.section-3 .grid {
    margin-top: 40px;
}

.section-3 .grid-box {
    text-align: center;
}

.section-3 .grid-box h3 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 400;
    color: #a01a16;
    margin-bottom: 20px;
}

.section-3 .grid-box p {
    font-family: aller-regular, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin: 10px auto 0 auto;
    max-width: 260px;
}

.career-areas {
    padding: 40px 10px 45px 40px;
    background: rgba(255,255,255,0.8);
    position: relative;
}

.career-areas:before {
    content: "";
    width: 280px;
    border-top: 5px solid #a01a16;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -140px;
}

.career-areas .grid-box div {
    padding-right: 40px;
    padding-left: 10px;
    border-right: 1px solid #ddd;
}

.section-8 .career-areas .grid-box div {
    border-right: 1px solid #fff;
}

.career-areas .grid-box:last-child div {
    border-right: 0;
}

.career-areas h2 {
    text-align: center;
    padding: 10px 30px 10px 0;
}

.section-6 {
    background-size: cover;
    position: relative;
    padding-bottom: 150px;
}

.section-6:after {
    content: "";
    height: 92px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(img/section-6-after.png) no-repeat;
    background-position: bottom center;
}

.section-4 {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ab4a3e+0,ab2526+44,ab2829+100&0.93+0,1+100 */
background: -moz-linear-gradient(top, rgba(171,74,62,0.93) 0%, rgba(171,37,38,0.96) 44%, rgba(171,40,41,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(171,74,62,0.93) 0%,rgba(171,37,38,0.96) 44%,rgba(171,40,41,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(171,74,62,0.93) 0%,rgba(171,37,38,0.96) 44%,rgba(171,40,41,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edab4a3e', endColorstr='#ab2829',GradientType=0 ); /* IE6-9 */
    padding: 60px 0;
}

.section-4 .section-title {
    position: absolute;
    top: -107px;
    color: #961914;
    font-size: 36px;
}

.testimonial {
    background: #f3f4f6;
    position: relative;
    box-sizing: border-box;
    padding: 34px;
    height: 400px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section-5 .grid {
    padding: 50px 0;
}

.grey-border {
    width: 280px;
    border-top: 5px solid #f3f4f6;
    margin: 0 auto 25px auto;
}

.testimonial div {
    width: 45%;
}

.testimonial p {
    font-size: 23px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: aller-bold, sans-serif;
    color: #a5351f;
}

.testimonial h4 {
    line-height: 18px;
    font-size: 14px;
    color: #555;
    text-shadow: 0 0.07em 0 #fff;
/*    text-transform: lowercase;*/
}

.section-5 .grid .grid-box:nth-child(odd) .testimonial:after,
.section-5 .grid .grid-box:nth-child(even) .testimonial:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 50px solid #fff;
    border-bottom: 50px solid #fff;
    border-right: 50px solid #f3f4f6;
    border-left: 50px solid #fff;
    left: 10%;
    z-index: -1;
}

.section-5 {
    border-bottom: 1px solid #ddd;
}

.section-5 .grid .grid-box:nth-child(odd) .testimonial:after {
    top: -50px;
}

.section-5 .grid .grid-box:nth-child(even) .testimonial:after {
    bottom: -50px;
}

.news-content {
    height: 175px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    position: relative;
}

.news-slideshow {
    height: 180px;
    position: relative;
}

.news-slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 500% !important;
    height: 180px;
    transition-duration: .6s;
}

.news-slide-box,
.half-slideshow .news-slide {
    float: left;
    width: 20% !important;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.half-slideshow .news-slide {
    padding: 0 30px;
}

.news-slide-box .news-slide {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 0 30px;
}

.news-slide h3 {
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 0px;
}

.news-slide-excerpt {
    margin-left: 264px;
}

.news-slide p {
    margin-top: 20px;
    margin-bottom: 0;
    color: #fff;
}

.news-slide a {
    color: #fb9464;
}

.news-slide img {
    float: left;
    margin-right: 30px;
    width: 234px;
    height: auto;
    margin-top: 5px;
}

.half-slideshow {
    width: 50%;
    float: left;
    position: relative;
    box-sizing: border-box;
}

.half-slideshow .news-slideshow {
    width: 100%;
}

.half-slideshow .news-content {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 145px;
}

.half-slideshow p {
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
}

.half-slideshow .news-slide h3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    text-shadow: 1px 0px;
}

#slideshow-4 .news-slide .slide-box:nth-child(1){
    padding-right: 15px;
    padding-left: 0;
}

#slideshow-4 .news-slide .slide-box:nth-child(2) {
    padding-left: 15px;
    padding-right: 0;
}

#slideshow-4 .slide-box {
    font-size: 20px;
}

#slideshow-4 .slide-box a {
    font-size: 19px;
}

.half-slideshow .fa-angle-left {
    left: 0 !important;
}

.half-slideshow .fa-angle-right {
    right: 0 !important;
}

.section-4 .content .half-slideshow:first-child {
    border-right: 30px solid transparent;
}

.section-4 .content .half-slideshow:last-child {
    border-left: 30px solid transparent;
    box-shadow: -3px 0 0 #851919; 
}

.half-slideshow > h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0 0 20px 58px;
    text-shadow: 0 1px 1px #555;
}

.player-btn {
    position: absolute;
    top: 51%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    font-size: 60px;
    color: #000;
    background: #fff;
    border-radius: 85px;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.player-btn:before {
    position: relative;
    top: -5px;
    left: -2px;
}

.video-player,
.request-form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: none;
}

/*.get-request a {
   text-transform: uppercase;
    font-weight: bold;
    font-size: 19px !important;
    font-family: "Vesper Libre",serif;
    cursor: pointer;
    color: #fff;
   
    padding: 6px 20px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 4px;
    background-color: #ff670f;
    

}
.get-request a:hover{
   background-color:#e45503;   
     transition: 0.6s ease-in-out; -webkit-transition: 0.6s ease-in-out; -moz-transition: 0.6s ease-in-out;
    
}
*/
a.buttond {
    position: relative;
    z-index: 9;
    display: inline-block;
    padding: 8px 20px 7px 20px;
    text-transform: uppercase;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e64216), to(#fb7310));
    background: -webkit-linear-gradient(top, #e64216, #fb7310);
    background: -moz-linear-gradient(top, #e64216, #fb7310);
    background: -o-linear-gradient(top, #e64216, #fb7310);
    background: linear-gradient(top, #e64216, #fb7310);
    background-image: linear-gradient(to bottom, #e64216 0%, #fb7310 100%);
    font-weight: bold !important;
}

.button-helper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f24805), to(#f5870b));
  background: -webkit-linear-gradient(-90deg, #f24805, #f5870b);
  background: -moz-linear-gradient(-90deg, #f24805, #f5870b);
  background: -o-linear-gradient(-90deg, #f24805, #f5870b);
  background: linear-gradient(-90deg, #f24805, #f5870b);
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}

a.buttond:hover .button-helper {
  opacity: 1;
}
.request-form {
    background: rgba(0,0,0,0.6);
}

.video-center,
.request-center {
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
}

.request-left,
.request-right {
    float: left;
    padding: 40px 40px 15px 40px;
    box-sizing: border-box;
}

.request-right {
    background: rgba(15, 21, 27, 0.9);
    width: 470px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.request-right h2,
.request-right .link {
    color: #fff;
}

.request-right .divider-1 {
    border-top: 5px solid #fff;
}

.request-left {
    background: rgba(145, 15, 10, 0.95);
    width: 650px;
    margin-right: 470px;
}

.video-content,
.request-content {
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.video-content {
    border-radius: 6px;
}

.request-progress {
    list-style: none;
    padding: 0;
    margin: 40px 0;
}

.request-progress li {
    float: left;
    border-bottom: 5px solid #ae5c47;
    font-family: 'Vesper Libre', serif;
    font-weight: 400;
    color: #ae5c47;
    font-size: 30px;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    width: 270px;
}

.request-progress li:last-child {
    float: right;
}

.request-progress .active-progress {
    color: #fff;
    border-bottom: 5px solid #fff;
}

.request-progress li span {
    font-family: aller-light, sans-serif;
    font-size: 18px;
    margin-left: 15px;
}

.request-form-full {
    max-width: 500px;
    margin: auto;
}

.request-content {
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    display: table;
    width: auto;
}

.video-center iframe {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    display: block;
}

.video-close,
.request-close {
    font-size: 30px;
    color: #666;
    position: absolute;
    top: 40px;
    right: 50px;
    cursor: pointer;
}

.request-close {
    color: #ae5c47;
    top: 25px;
    right: 35px;
}

.request-close:hover {
    color: #fff;
}

.request-left h3 {
    font-family: 'Vesper Libre', serif;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
}

.section-7 {
    background: #f6f7f8 url(img/newtorch.png) no-repeat;
    background-position: top center;
}

.tab {
    display: none;
}

#tab-1 {
    display: block;
}

.left-side {
    float: left;
    box-sizing: border-box;
    width: 395px;
    padding-right: 75px;
    min-height: 1px;
}

.left-content {
    float: left;
    width: calc(100% - 425px);
    min-height: 50px;
}

.page-template-page-campuses .full-content {
    width: 100%;
}

.campuses-map {
    float: right;
    margin-top: 10px;
    width: 50%;
    height: 415px;
    border: 1px solid #777;
    box-sizing: border-box;
    overflow: hidden;
}

.campuses-map iframe {
    width: 100%;
    height: 460px;
    margin-top: -47px;
    border: none;
}

.center-content {
    float: left;
    width: calc(100% - 820px);
    min-height: 50px;
}

.right-side {
    float: left;
    box-sizing: border-box;
    width: 425px;
    padding-left: 75px;
    min-height: 50px;
}

.right-side .testimonial {
    height: 300px;
    padding: 34px 0 !important;
    background-color: transparent;
}

.right-side .testimonial div {
    width: 50%;
}

.programs-intro {
    margin-bottom: 75px;
    margin-top: -35px;
    border-bottom: 3px solid #a01a16;
}

.programs-intro .left-content {
    padding-top: 35px;
}

.testimonials-link {
    position: absolute;
    bottom: 10px;
    left: 0;
    max-width: 150px;
    color: #a01a16;
    font-weight: 500;
    line-height: 22px;
}

.right-side-testimonials .testimonials-link {
    display: none;
}

.right-side-testimonials .featured-testimonial:last-child .testimonials-link {
    display: block;
}

.testimonials-link i {
    margin-right: 5px;
    font-size: 20px;
}

.right-side .testimonial p {
    margin-bottom: 20px;
}

.featured-testimonial {
    margin-bottom: 40px;
    margin-top: -34px;
}

.program-areas {
    background: url(img/program-areas.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
}

.program-areas h2 {
    color: #fff;
    padding: 15px 26px;
    background: rgba(255,255,255,0.2);
    margin: 0 0 25px 0;
    color: #fff;
    font-size: 30px;
    line-height: 38px;
}

.program-areas div {
     padding: 5px 30px 25px 30px;
}

.program-areas ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

.program-areas ul li {
    padding: 6px 0;
}

.program-areas ul li a {
    color: #fff;
    font-family: 'Vesper Libre', serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-navigation {
    list-style: none;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    border-bottom: 1px solid #a01a16;
}

.mobile-tabs {
    display: none;
}

.left-content .page-navigation {
    margin-bottom: 30px;
}

.page-navigation li {
    float: left;
    border-color: #d2d2d2 !Important;
    border-right: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    margin-left: -1px;
    border-radius: 5px 5px 0 0;
    background: #fff;
    background: -webkit-linear-gradient(#f3f3f6, #fff);
    background: -o-linear-gradient(#f3f3f6, #fff);
    background: -moz-linear-gradient(#f3f3f6, #fff);
    background: linear-gradient(#f3f3f6, #fff);
    position: relative;
    bottom: -1px;
}

.left-content .page-navigation li {
    margin-right: 11px;
}

.page-navigation .active {
    border-color: #a01a16 !important;
    position: relative;
    z-index: 1;
}

.left-content .page-navigation .active {
    border-bottom: 1px solid #fff !important;
}

.page-navigation li a {
    display: table;
    padding: 18px 20px;
    font-family: aller-light, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #a0a0a0;
    cursor: pointer;
}

.page-navigation .active a {
    color: #981b14;
}

.dropdown-list,
.dropdown-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-list {
    padding-left: 15px;
    display: table;
}

.page-template-page-campuses .dropdown-list {
    max-width: 600px;
}

.dropdown-list li {
    position: relative;
}

.dropdown-list > li:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    position: absolute;
    top: 7px;
    left: -15px;
    font-size: 20px;
    color: #a01a16;
}

.dropdown-list > li.active:before {
    content: "\f107";
    left: -18px;
}

.dropdown-child {
    padding-left: 0;
}

.dropdown-child li:before {
    display: none;
}

.dropdown-list li a {
    display: table;
    padding: 6px 0;
    font-family: aller, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #a01a16;
    cursor: pointer;
}

.dropdown-list li li a,
.dropdown-child li a {
    font-size: 18px;
    line-height: 18px;
    color: #4e4e4e;
    text-transform: initial;
}

.dropdown-list li ul {
    max-height: 0px;
    overflow: hidden;
    transition-duration: .6s;
}

.section-8 {
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 160px;
}

.section-8:before {
    content: "";
    height: 92px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(img/section-8-before-1.png) no-repeat;
    background-position: bottom center;
}

.section-8 .career-areas:before {
    display: none;
}

.section-8 p a {
    font-family: aller-regular, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.section-8 h3 {
    color: #a01a16;
    font-family: 'Vesper Libre', serif;
}

.section-8 .grid-3 .grid-content {
    width: calc(100% + 80px);
}

.section-8 .grid-3 .grid-box {
    padding: 0 40px 30px 0;
}

.section-8 .career-areas {
    padding: 40px;
}

.section-8 .career-areas .grid-box div {
    padding-left: 0;
}

.page-id-146 .grid-box ul {
    padding: 0 0 0 20px;
    margin: 0;
}

.right-side #menu-footer-1,
.right-side .categories {
    margin-top: 45px;
}

.right-side .categories li:last-child {
    padding-bottom: 0;
}

.center-content p a,
.center-content li a {
    font-size: 16px;
}
.center-content p a:hover {color:#a01a16 !important;}
.categories .current_page_item > a {
    color: #ad1a16;
}

.categories ul.children {
    list-style: none;
    margin: 15px 0 -12px 0;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 0;
}

.categories ul.children li {
    padding-left: 30px;
}

.categories ul.children li a {
    font-weight: 400;
}

.testimonial-column {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.testimonial-boxes .testimonial-column:first-child {
    padding-right: 25px;
}

.testimonial-boxes .testimonial-column:last-child {
    padding-left: 25px;
}

.show-more,
.show-less {
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 20px 0;
    border-top: 1px solid #a8a8a7;
    border-bottom: 1px solid #a8a8a7;
    color: #585758;
    font-size: 19px;
    font-family: aller-regular, sans-serif;
}

.show-less,
.testimonial-column .testimonial-box  {
    display: none;
}

.testimonial-column .testimonial-box:nth-child(1),
.testimonial-column .testimonial-box:nth-child(2),
.active-testimonial-column .testimonial-box {
    display: block;
}

.testimonial-box {
    margin-bottom: 50px;
}
/*
 * custom css
 * start section
 */
.testimonial-box {
    background-color: #f9f1f0;
    border-radius:7px;
    padding-bottom: 45px;
}

.testimonial-content {
    padding: 120px 50px 0px;
    text-align: center;
    background-image: url(img/testimonial_top.png);
    background-repeat: no-repeat;
    background-position: center 35px;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
}
.test-sparator {
    border-bottom: 3px solid #dca185;
    margin: 45px auto 30px;
    width: 40%;
}

.testimonial-footer img {
    float: right;
    width: 120px;
    height: auto;
    border-radius: 50%;
}

.testimonial-footer h3 {
    color: black;
    font-family: 'Vesper Libre', serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    padding: 55px 0;
    text-align: center;
}

.testimonial-footer h3 span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: grey;
}
.testimonial-footer h3 a {
    font-size: 32px;
    padding-top: 5px;
    cursor: pointer;
}
/*
 *end section
 */

.search-page-form {
    background: #424c54;
    padding: 5px;
    position: relative;
    margin-bottom: 50px;
}

.search-page-form .search-submit {
    position: absolute;
    top: 5px;
    right: 0;
    background: #424c54;
    text-transform: uppercase;
    width: auto;
    padding: 3px 20px;
    height: 50px;
    line-height: 50px;
}

.search-page-form .search-input {
    margin-bottom: 0;
    height: 50px;
    padding: 0 160px 0 18px;
}

.search-submit i {
    font-size: 17px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.search-result {
    margin-top: 40px;
}

.post-excerpt {
    margin-left: 275px;
}

.search-results .search-result:first-child {
    margin-top: 0;
}

.search-result h3 {
    margin: 0;
    font-family: 'Vesper Libre', serif;
    font-size: 20px;
    line-height: 26px;
}

.search-result h3 a {
    color: #a01a16;
}

.search-result span,
.post-info {
    font-weight: 700;
}

.search-result p {
    margin: 20px 0 0 0;
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 22px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
    text-align: center;
}

.search-results .pagination {
    margin-top: 50px;
}

.pagination li {
    display: inline-block;
    margin: 0 7px;
}

.prev-page {
    width: 82px;
    float: left;
    margin-left: 0 !important;
    height: 25px;
}

.next-page {
    width: 82px;
    float: right;
    margin-right: 0 !important;
    text-align: right;
    height: 25px;
}

.pagination li a {
    font-weight: 700;
    color: #a01a16;
    padding: 5px;
}

.pagination li:first-child a {
    padding-left: 0;
}

.pagination .active a {
    color: #4e4e4e;
}

.search-result img {
    float: left;
    margin-right: 25px;
    width: 250px;
    height: auto;
}

.sidebar-box {
    margin-bottom: 35px;
    background: transparent;
    overflow: hidden;
}

.right-side .sidebar-box:last-child {
    margin-bottom: 0;
}

.sidebar-box p {
    margin-bottom: 0;
}

h3.vista-success {
    position: absolute;
    top: -80px;
    left: 60px;
    color: #B15248;
    font-family: aller-display, sans-serif;
    font-size: 50px;
    text-transform: lowercase;
    letter-spacing: 2.5px;
}

.search-result span i,
.post-info i {
    font-weight: 400;
}

.thumbnail img {
    margin-bottom: 25px;
}

.share-buttons {
    margin-top: -20px;
    padding-bottom: 20px;
}

.left-side h3 {
    font-family: aller-light, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #971410;
}

.post-info {
    display: block;
    margin-bottom: 25px;
}

.relevant-topics ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: initial;
    font-size: 18px;
}

.relevant-topics ul li {
    padding: 10px 0;
}

.relevant-topics h2 {
    margin-bottom: 0;
    font-size: 26px;
    line-height: 34px;
    padding: 20px 25px;
}

.program-areas ul li:first-child,
.learn-how-to ul li:first-child  {
    padding-top: 0;
}

.program-areas ul li:last-child,
.learn-how-to ul li:last-child  {
    padding-bottom: 0;
}

.relevant-topics h2 b {
    font-family: aller-bold, sans-serif;
    font-style: italic;
    text-transform: initial;
}

.learn-how-to {
    margin-bottom: 40px;
    background: #ddd
}

.learn-how-to div {
    padding: 30px;
}

.learn-how-to h2 {
    color: #fff;
    background: #bcbcbb;
    margin: 0 0 25px 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 32px;
    padding: 20px 25px;
    font-family: aller-regular, sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
}

.learn-how-to ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.learn-how-to ul li {
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #c5c5c5;
}

.learn-how-to ul li:last-child {
    border-bottom: 0;
}

.learn-how-to ul li {
    color: #4e4e4e;
    font-family: 'Vesper Libre', serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.vertical {
    border-bottom: 0;
}

.vertical li {
    float: none;
    margin-bottom: 10px;
    border-radius: 0 5px 0 0;
    border-left: none;
}

.page-navigation.vertical li a {
    color: #a0a0a0;
}

.page-navigation.vertical .active {
    border-color: #981b14 !important;
    border-right: 0;
    border-radius: 0;
    background: #fff;
    border-top-style: solid;
    border-top-width: 3px;
}

.page-navigation.vertical .active a {
    color: #981b14;
}

.vertical li a {
    display: block;
}

.detail-box {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 25px;
}

.tab .detail-box:last-child {
    border-bottom: 0;
    margin-bottom: -25px;
}

.detail-box h3 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    color: #981b14;
}

.detail-box ul, .single-post .center-content ul, .page-template-default .center-content ul {
    margin: 0 0 25px 0;
    padding: 0 0 0 18px;
    list-style-image: url(img/list.png);
}

.detail-box ul  li, .single-post .center-content ul, .page-template-default .center-content ul li {
    position: relative;
    padding: 2px 0;
}

.program-availability h2 {
    text-align: left;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.availability-box {
    float: left;
    width: 50%;
    box-sizing: border-box
}

.availability-box h3 {
    text-transform: uppercase;
    font-family: aller-regular, sans-serif;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #3d3d3d;
    font-weight: 700;
}

.availability-boxes .availability-box:first-child {
    padding-right: 25px;
    border-right: 1px solid #535353;
}

.availability-boxes .availability-box:nth-child(2) {
    padding-left: 25px;
}

.availability-box ul,
.thankyou ul {
    margin: 0;
    margin-bottom: 0 !important;
    list-style-image: url(img/list.png);
    padding: 0 0 0 18px;
}

.availability-box ul li,
.thankyou ul li {
    position: relative;
    padding: 2px 0;
}

.availability-box ul li a,
.thankyou ul li a {
    color: #f39200;
    font-family: aller-regular, sans-serif;
    font-weight: 400;
}

.availability-footer {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    border-top: 1px solid #535353;
    padding-bottom: 15px;
    border-bottom: 1px solid #535353;
    background: #ddd;
}

.availability-area {
    margin-top: 22px;
}

.availability-footer p {
    font-family: aller-regular, sans-serif;
    float: left;
    width: 90% !important;
    padding-left: 20px;
    margin: 0;
    text-align: center;
    color: #a01a16;
    font-size: 13px;
}

.no-border {
    border-right: 0 !important;
    width: 100%;
}

.full-width {
    width: 100% !important;
}

.campus-details {
    margin-bottom: 25px;
    height: 300px;
}

.campus-left,
.campus-right {
    float: right;
}

.campus-left {
    width: 270px;
    box-sizing: border-box;
    display: table;
    height: 300px;
    padding: 0 25px 0 0;
    border-right: 5px solid #fff;
}

.campus-right {
    width: calc(100% - 270px);
}

.campus-right iframe {
    height: 300px;
    width: 100%;
}

.campus-center {
    display: table-cell;
/*    vertical-align: middle;*/
}

.campus-phone {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 20px 0;
    display: table;
}

.campus-center h3 {
    font-weight: 700;
    margin-bottom: 5px;
    font-family: aller-light, sans-serif;
    font-size: 28px;
    line-height: 36px;
}

.campus-center p {
    margin: 0;
}

.google-map iframe {
    pointer-events: none;
}

.detail-boxes .detail-box:last-child {
    margin-bottom: 0;
}

.shortcode {
    margin-bottom: 25px;
    padding-top: 25px;
    border-top: 1px solid #d2d2d2;
}

.thankyou {
    padding: 7px;
    background: #a22b11;
    color: #fff;
}

.thankyou-content {
    float: right;
    width: 50%;
    margin-bottom: -25px;
    box-sizing: border-box;
    padding: 15px 30px 15px 20px;
}

.thankyou-video {
    float: right;
    width: 50%;
}

.thankyou iframe {
    width: 100%;
}

.thankyou h3 {
    font-family: aller-regular, sans-serif;
    font-size: 25px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 22px;
    font-weight: 400;
}

.thankyou a {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    color: #f39200;
    font-size: 17px;
}

.thankyou ul {
    margin-bottom: 25px;
}

#gf_progressbar_wrapper_1,
#gform_fields_1  .gfield_label,
#gf_progressbar_wrapper_2,
#gform_fields_2  .gfield_label,
.validation_error,
#field_1_10 .ginput_container,
#field_1_12 .ginput_container,
#gform_ajax_spinner_1,
#gform_next_button_1_7,
#field_1_16,
#field_2_10 .ginput_container,
#field_2_12 .ginput_container,
#gform_ajax_spinner_2,
#gform_next_button_2_7,
#field_2_16,
.ginput_container .validation_message {
    display: none !important;
}

.gform_wrapper .gform_footer {
    padding: 0 !important;
    margin-top: 25px !important;
    display: none;
}

#field_1_10,
#field_1_12,
#field_2_10,
#field_2_12 {
    margin: 5px 0 0 0 !important;
}

.gfield_error {
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    border: 0 !important;
    color: #fff !important;
}

.validation_message {
    padding-top: 0 !important;
    font-weight: 400 !important;
}

.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, 
.gform_wrapper li.gfield_error ul.gfield_checkbox, 
.gform_wrapper li.gfield_error ul.gfield_radio {
    color: #fff !important;
}

.gform_wrapper .validation_message {
    color: #f17400 !important;
    margin-bottom: -5px;
}

body .gform_wrapper .gform_body .gform_fields .gfield input[type=text],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=url],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=number],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=password],
body .gform_wrapper .gform_body .gform_fields .gfield select,
body .gform_wrapper .gform_body .gform_fields .gfield textarea,
.gform_wrapper .gfield_checkbox li label, 
.gform_wrapper .gfield_radio li label, 
.gform_wrapper .description, 
.gform_wrapper .gfield_description, 
.gform_wrapper .gsection_description, 
.gform_wrapper .instruction {
    font-size: 17px !important;
    font-weight: 300;
}

.gform_wrapper .gform_page_footer {
    padding: 0 !important;
    border-top: 0 !important;
    margin: 25px 0 0 0 !important;
}

.gform_wrapper ul.gfield_checkbox li, 
.gform_wrapper ul.gfield_radio li {
    margin: 0 !important;
    float: left;
    width: 50%;
    position: relative;
}

.gform_wrapper .gfield_checkbox li input, 
.gform_wrapper .gfield_checkbox li input[type=checkbox], 
.gform_wrapper .gfield_radio li input[type=radio] {
    margin-top: 4px !important;
    margin-right: 1px;
}

body .gform_wrapper ul li.gfield {
    margin-top: 25px !important;
}

.gform_wrapper ul.gform_fields li.gfield select {
    height: 40px;
    width: 100% !important;
    padding: 0 6px;
    border: 0;
    border-right: 10px solid #fff;
}

.gform_wrapper .gfield input[type=text] {
    height: 40px !important;
    border: 0 !important;
    padding: 0 10px !important;
}

#field_1_21,
#field_1_19,
#field_2_21,
#field_2_19 {
    padding-right: 12px !important;
}

#field_1_20,
#field_1_22,
#field_2_20,
#field_2_22 {
    padding-right: 0px !important;
    padding-left: 12px !important;
    max-width: 100% !important;
}

body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0 !important;
}

#field_1_3,
#field_1_4,
#field_1_9,
#field_1_11,
#field_1_13,
#field_1_6,
#field_1_23,
#field_2_3,
#field_2_4,
#field_2_9,
#field_2_11,
#field_2_13,
#field_2_6,
#field_2_23,
.validation_message {
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    max-width: 100% !important;
    border-radius: 0 !important;
}

#gform_next_button_1_7,
#gform_next_button_2_7,
.next-button,
#gform_submit_button_1,
#gform_submit_button_2 {
    display: block;
    width: 100%;
    height: 40px;
    border: 0;
    background: #f17400;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-appearance: none;
    border-radius: 0;
}

#gform_next_button_1_7:hover,
#gform_next_button_2_7:hover,
.next-button:hover,
#gform_submit_button_1:hover,
#gform_submit_button_2:hover {
    background: #e97a6d;
}

.gform_wrapper ul.gfield_checkbox, 
.gform_wrapper ul.gfield_radio {
    margin: 0 0 -5px 0 !important;
}

.label-button {
    display: table;
    padding: 2px !important;
    margin: 0 !important;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px !important;
    height: 20px !important;
}

.request-form {
    color: #fff;
}

.label-button span {
    display: table;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.disabled-selector {
    opacity: .6;
    pointer-events: none;
}

.label-button span.active {
    background: #fff;
}

#choice_1_8_0,
#choice_1_8_1, 
#choice_2_8_0,
#choice_2_8_1 {
    opacity: 0.0;
    margin-right: 8px;
}

#part-2{
    display: none;
    margin-top: -28px;
}

#request-page {
    max-width: 600px;
    margin-bottom: -25px;
}

#request-page .request-progress {
    margin-top: 5px;
}

#request-page .request-progress li {
    color: #a7a7a7;
    border-bottom: 5px solid #a7a7a7;
}

#request-page .request-progress .active-progress {
    color: #ab2829;
    border-bottom: 5px solid #ab2829;
}

#request-page #gform_wrapper_2 input[type=text] {
    border-bottom: 1px solid #a7a7a7 !important;
    color: #4e4e4e !important;
    border-radius: 0 !important;
}

input::-webkit-input-placeholder {
    color: #a7a7a7 !important;
}
     
input:-moz-placeholder { /* Firefox 18- */
color: #a7a7a7 !important;  
}
    
input::-moz-placeholder {  /* Firefox 19+ */
color: #a7a7a7 !important;  
}
    
input:-ms-input-placeholder {  
color: #a7a7a7 !important;  
}

#request-page .label-button span.active {
    background: #ccc;
}

#request-page .gform_wrapper ul.gform_fields li.gfield select {
    box-shadow: 0 0 0 1px #ccc;
}

#request-page .label-button {
    border: 2px solid #ccc;
}

/* Footer ---------------------*/

footer {
    background: url(img/vista-college-badge-1.jpg) no-repeat;
    background-position: bottom right;
}

footer.section {
   padding: 60px 0 100px 0;
}

.footer-box {
    float: left;
    max-width: 378px;
    margin-right: 110px;
}

.footer-box p {
    margin-bottom: 0;
}

footer .content .footer-box:last-child {
    margin-right: 0;
}

.footer-box img {
    margin-bottom: 24px;
}

.fixed-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    z-index: 100;
	background: #333;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9817f+1,a01a16+100 */
 /* background: rgba(145, 15, 10, 0.95);  */

}
.get-chat{
    padding: 8px 0 6px 0;
}

.fixed-info ul {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

.fixed-info ul li {
    float: right;
    margin-left: 100px;
    text-align: center;
}

.phone-mobile {
    display: none;
}

.fixed-info ul li:first-child {
    display: none;
}

.fixed-info a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.fixed-info a:hover {
    color: #fff;
}
.fixed-info .fa {
    margin-right: 5px;
    position: relative;
}

.fixed-info .fa-phone {
    font-size: 20px;
	color: #e3683e;
}

.fixed-info .fa-comment {
    font-size: 18px;
    top: -2px;
	color: #e3683e;
}

.fixed-info .fa-paper-plane {
    font-size: 18px;
    top: -2px;
}

.menu-footer-1-container ul,
.categories,
#menu-blog,
#menu-blog .sub-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-blog .sub-menu {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}

#menu-blog .sub-menu li a {
    padding-left: 30px;
}

#menu-blog .sub-menu li a {
    font-weight: 400;
}

.categories .current-menu-item > a {
    color: #a01a16;
}

.menu-footer-1-container ul li,
.categories li {
    padding: 13px 0;
    border-bottom: 1px solid #ddd;
    min-width: 200px;
}

.menu-footer-1-container ul li a,
.categories li a {
    font-weight: 700;
    display: block;
}

.menu-footer-1-container ul li:first-child {
    padding-top: 5px;
}

.categories li:first-child {
    padding-top: 5px;
}

.menu-footer-1-container ul li:last-child,
.categories li:last-child {
   border-bottom: 0;
}

.menu-footer-2-container ul{
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
    line-height: 26px;
    font-size: 15px;
}

.footer-social p {
    margin: 0;
    font-size: 15px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    width: 220px;
}

a.fa-facebook-square {
    color: #3b5998;
}

a.fa-youtube-square {
    color: #ce1312;
}

a.fa-google-plus-square {
    color: #dc4e41;
}

a.fa-twitter-square {
    color: #55acee;
}

a.fa-pinterest-square {
    color: #bd081c;
}

a.fa-linkedin-square {
    color: #007ab9;
}

.social-icons li {
    float: left;
    margin-right: 25px;
    margin-bottom: 13px;
}

.social-icons li:nth-child(4) {
    margin-right: 0;
}

.social-icons li a {
    font-size: 32px;
}

.left-side #menu-footer-1 {
    margin-bottom: -15px;
}

.social-icons li a.instagram {
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    font-size: 24px;
    display: block;
    border-radius: 5px;
    height: 27px;
    width: 27px;
    line-height: 27px;
    position: relative;
    top: 2px;
    text-align: center;
}

/* Responsive ---------------------*/

@media (min-width:1920px) {

    .section-7 {
        background-size: 100% auto;
    }
    
    .section-8:before,
    .section-6:after,
    .section-2:after {
        background-size: 100% 100%;
    }

}

@media (max-width:1600px) {

    .grid-3 .grid-box {
        padding: 0 60px 30px 0;
    }
    
    .grid-3 .grid-content {
        width: calc(100% + 60px);
    }
    
    .testimonial:hover .player-btn {
        display: block;
    }
    
    .testimonial {
        height: 350px;
    }
    
    .testimonial div {
        width: 52%;
    }
    
    .news-slide {
        padding: 0 20px;
    }
    
    .half-slideshow > h3 {
        margin: 0 0 20px 48px;
    }
    
    .footer-box {
        max-width: 305px;
        margin-right: 90px;
    }
    
    .featured-posts .news-content,
    .featured-posts .news-slideshow,
    .featured-posts .news-slides,
    .featured-posts .news-slide-box {
        height: auto;
    }
    
    .featured-posts .news-slides {
        position: relative;
    }

}

@media (max-width:1400px) {

    .campuses-map {
        width: 460px;
        height: 310px;
    }

    .left-side {
        width: 320px;
        margin-bottom: 25px;
        padding-right: 0;
    }

    
    
    #menu-blog {
        margin-bottom: -35px;
    }

    
    
    .programs-intro .right-side {
        padding-right: 0;
    }
    
    .news-slide img {
        width: 210px;
    }

    .news-slide-excerpt {
        margin-left: 240px;
    }
    
}
@media(max-width:1441px){
    .center-content {
        width: calc(100% - 395px);
        float: right;
    }
    .right-side {
        float: left;
        padding-right: 0;
        padding-left: 0;
        width: 320px;
    }
    .page-id-5423 .right-side {
        float: right;
        width: 425px;
    }
}

@media (max-width:1365px) {

    .section-22 .grid-box p {
        max-width: 100%;
    }

    .grid-5 .grid-content .grid-box:nth-child(5n+1) {
        clear: none;
    }
    
    .grid-5 .grid-content .grid-box:nth-child(4n+1) {
        clear: both;
    }
    
    .grid-5 .grid-box {
        width: 25%;
    }
    
    .news-slide-box .news-slide {
        width: 100%;
    }
    
    .news-slide-box .news-slide:nth-child(2) {
        display: none;
    }
    
    .testimonial:after {
        display: none;
    }
    
    .section-5 .grid {
        padding: 0;
    }
    
    .testimonial {
        padding: 30px 30px 5px 30px;
        height: 320px;
    }
    
    .testimonial div {
        width: 60%;
    }
    
    .testimonial h4 {
        font-size: 16px;
        line-height: 22px;
        text-shadow: 0 1px 1px #fff;
    }
    
    .player-btn {
        display: block;
        top: auto;
        left: 55px;
        bottom: 32px;
        font-size: 48px;
        height: 38px;
        width: 38px;
    }
    
    .programs-intro .right-side {
        margin-top: -35px;
        margin-bottom: 20px;
    }
    
    .programs-intro .left-content {
        padding-top: 0;
        /*width: 100%;*/
    }
    
    .programs-intro {
        margin-top: 0;
        margin-bottom: 50px;
        border-bottom: 0;
    }
    
    .footer-box {
        margin-right: 38px;
    }

}

@media (max-width:1200px) {

    .section-22 .grid {
        margin-top: 0;
    }

    .section-5 .grid-box {
        width: 50%;
    }

    .campuses-map {
        float: none;
        margin-bottom: 30px;
        max-width: 100%;
    }

    #slideshow-2 .slider-nav {
        display: none;
    }

    .slideshow-content {
        padding-bottom: 0;
    }

    .grid-4 .grid-content .grid-box:nth-child(4n+1),
    .grid-5 .grid-content .grid-box:nth-child(4n+1) {
        clear: none;
    }
    
    .grid-4 .grid-content .grid-box:nth-child(3n+1),
    .grid-5 .grid-content .grid-box:nth-child(3n+1) {
        clear: both;
    }
    
    .grid-4 .grid-box,
    .grid-5 .grid-box {
        width: 33.33333%;
    }
    
    .dropdown,
    .section:after,
    .section:before,
    .slideshow-banner:after,
    .slideshow-background,
    .desktop-nav,
    .request-form,
    .vista-success {
        display: none !important;
    }
    
    .section {
        padding: 40px 0 !Important;
    }
    
    footer.section {
        padding: 40px 0 80px 0 !important;
    }
    
    .content {
        padding: 0 40px;
    }
    
    .section-3 .section-title {
        margin: 0;
    }
    
    .slideshow-boxes {
        position: relative;
        top: 0;
        height: auto;
        margin-top: -5px;
    }
    .slideshow-boxes .content {
        padding: 0;
    }
    
    .slideshow-box {
        background: transparent;
        width: 100%;
        float: left;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        position: relative;
        bottom: 0;
        padding: 40px 60px;
        height: auto;
    }
    
    .slideshow-content,
    .content-slide {
        height: auto;
    }
    
    .content-slides {
        height: auto;
        position: relative;
    }
    
    .slide-box {
        height: auto;
    }
    
    .slideshow-form {
        position: relative;
        background: #861a19;
        width: 100%;
        float: left;
        right: 0;
        top: 0;
        min-height: 10px;
    }
    
    .slideshow-boxes .content {
        height: auto;
        background: url(img/banner-after-3.png) no-repeat;
        background-position: top center;
        padding: 42px 0 0 0;
    }
    
    .banner-slide,
    .slideshow-banner,
    .banner-slides {
        height: 100%;
    }
    
    body {
        font-size: 16px;
    }
    
    .slideshow-form-content {
        max-width: 450px;
        margin: auto;
    }
    
    .footer-box {
        margin-right: 52px;
    }
    
    .mobile-nav {
        display: block;
    }
    
    .header-navigation .fa-bars {
        display: table;
    }
    
    .header-right .group,
    .header-navigation {
        float: left;
    }
    
    .header-right {
        padding-top: 50px;
    }
    
    .header-navigation {
        padding-top: 5px;
        margin-left: 20px;
    }
    
    .page-banner header,
    .banner-content {
        position: relative;
    }
    
    .banner-content {
        padding: 75px 0 35px 0;
    }
    
    .page-banner {
        height: auto;
    }
    
    header {
        margin-bottom: -25px;
    }
    
    .header-info {
        padding: 5px 5px;
        margin-bottom: -15px;
    }
    
    .left-side,
    .search-page-form {
        margin-bottom: 30px;
    }
    
    .pagination,
    .search-result {
        margin-top: 30px;
    }
    
    #menu-blog {
        margin-bottom: -20px;
    }
    
    .left-side,
    .right-side,
    .center-content,
    .left-content {
        /*width: 100%;*/
        padding-left: 0;
        padding-right: 0;
    }
    
    .programs-intro {
        margin-bottom: 5px;
    }
    
    .testimonial-box {
        margin-bottom: 30px;
    }
    
    .testimonial-boxes .testimonial-column:last-child {
        padding-left: 15px;
    }
    
    .testimonial-boxes .testimonial-column:first-child {
        padding-right: 15px;
    }
    
    .slideshow-form,
    .fixed-info ul li:nth-child(2) {
        display: none;
    }
    
    .section-1 header {
        position: relative;
    }
    
    #slideshow-1 {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .half-slideshow {
        border-left: 0 !important;
        border-right: 0 !important;
        width: 100%;
        float: none;
        box-shadow: none !important;
    }
    
    .section-4 .content .half-slideshow:first-child {
        margin-bottom: 0px;
    }
    
    .section-4 .slide-box {
        padding: 0 !important;
    }
    
    footer .content .footer-box:first-child {
        max-width: 100%;
        margin-bottom: 30px;
        margin-right: 0;
    }
    
    .sidebar-box {
        background: transparent;
    }
    
    .right-side .testimonial {
        background-color: transparent;
    }
    
    .fixed-info ul li {
        margin-left: 34px;
    }
    
    .fixed-info ul li:first-child {
        display: block;
    }

}

@media (max-width:1024px) {

    .section-5 {
        overflow: hidden;
    }
    
    .testimonial p {
        font-size: 20px;
        line-height: 26px;
    }
    
    .fixed-info a,
    .fixed-info .fa-comment,
    .fixed-info .fa-phone {
        font-size: 16px;
    }
    
    .footer-social-group .footer-social-icons li a {
        font-size: 20px;
    }
    .banner-content h1 {
        font-size: 26px;        
    }
    .breadcrumb {
        display: none;
    }

}

@media (max-width:1000px) {

    .grid-3 .grid-content .grid-box:nth-child(3n+1),
    .grid-4 .grid-content .grid-box:nth-child(3n+1),
    .grid-5 .grid-content .grid-box:nth-child(3n+1) {
        clear: none;
    }
    
    .grid-3 .grid-content .grid-box:nth-child(2n+1),
    .grid-4 .grid-content .grid-box:nth-child(2n+1),
    .grid-5 .grid-content .grid-box:nth-child(2n+1) {
        clear: both;
    }
    
    .grid-3 .grid-box,
    .grid-4 .grid-box,
    .grid-5 .grid-box {
        width: 50%;
    }
    
    .footer-box {
        margin-right: 35px;
    }
    
    footer {
        background-size: 300px auto;
    }
    
    .mobile-buttons {
        display: block;
        float: left;
    }
    
    .mobile-buttons .search-get {
        display: none;
    }
    
    .mobile-buttons .fa-bars {
        margin-left: 0;
        font-size: 24px;
        margin-top: 45px;
        margin-right: 35px;
    }
    
    .logo img {
        width: 200px;
    }
    
    .header-right {
        padding-top: 40px;
    }
    
    .header-navigation {
        display: none;
    }
    
    .header-info {
        display: block;
        text-align: center;
    }
    
    .thankyou {
        padding: 0;
        background: #fff;
        color: #4e4e4e;
    }
    
    .thankyou h3 {
        color: #a01a16;
    }
    
    .thankyou-content,
    .thankyou-video {
        float: none;
        width: 100%;
        padding: 0 !important;
    }
    
    .thankyou-video {
        margin-bottom: 30px;
        max-width: 500px;
    }
    
    .left-side,
    .right-side,
    .center-content,
    .left-content {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
    .right-side {
        margin-top: 35px;
    }
    
    .right-side .featured-testimonial {
        float: left;
        width: 50%;
        padding-right: 35px;
    }
    
    .section-7 {
        background: #fff;
    }
    
    

}

@media (max-width:800px) {

    .news-slide-excerpt {
        margin-left: 0;
    }

    .section-5 .grid-box,
    .social-icons {
        width: 100%;
    }
    
    .social-icons li:nth-child(4) {
        margin-right: 25px;
    }
    
    .testimonial {
        height: 265px;
    }

    .slide-box {
        height: auto;
        float: none;
        width: 100%;
    }
    
    .news-slide img {
        float: none;
        margin-bottom: 20px;
    }
    
    .availability-box {
        width: 100%;
        padding: 0 !important;
        border: 0 !important;
    }
    
    .availability-boxes .availability-box:nth-child(2){
        margin-top: 23px;
    }
    
    .availability-footer p {
        text-align: left;
    }
    
    .availability-box h3 {
        font-size: 20px;
    }
    
    .page-navigation li a {
        display: block;
    }
    
    .testimonial-column {
        padding: 0 !important;
        width: 100%;
    }
    
    .campus-right,
    .campus-left {
        float: none;
        width: 100%;
    }
    
    .campus-left {
        margin-top: 20px;
    }
    
    .campus-details,
    .campus-left {
        height: auto;
        border-right: 0;
    }
    
    .footer-box {
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
    }
    
    footer .content .footer-box:last-child {
        margin-bottom: 0;
    }
    
    .prev-page,
    .next-page,
    .phone-number span {
        display: none;
    }
    
    .header-info .fa-phone {
        margin-right: 0;
    }
    
    .logo {
        float: none;
    }
    
    .logo img {
        display: block;
        margin-left: 60px;
    }
    
    .mobile-buttons .fa-bars {
        position: absolute;
        top: 45px;
        margin: 0;
        left: 40px;
    }
    
    .header-info li.phone-number {
        position: absolute;
        top: 44px;
        margin: 0;
        right: 120px;
    }

    .header-info li.email {
        position: absolute;
        top: 35px !important;
        right: 30px !important;
        margin: 0;
        border: 0px !important;
    }

    .header-info li.chat-now {
        position: absolute;
        top: 35px !important;
        right: 130px !important;
        margin: 0;
    }
    .header-info li.chat-now span {
        font-size: 11px;
        display: block;
    }
    .header-info .call-us, .header-info .more-info {
        display: block;
        font-size: 11px;
    }
    .header-info li i.fa-paper-plane {
        padding-right: 0px;
    }
    .request-progress li {
        width: 100%;
    }
    
    .request-progress li:first-child {
        margin-bottom: 25px;
    }
    
    .request-info {
        text-align: left;
    }

    #field_1_21, #field_1_19, #field_2_21, #field_2_19 {
        padding-right: 0px !important;
    }
    
    #field_1_20, #field_1_22, #field_2_20, #field_2_22 {
        padding-left: 0px !important;
    }
    
    #request-page .gform_wrapper ul.gform_fields li.gfield select {
        border-right: 0;
    }
    
    footer.section {
        padding: 40px 0 65px 0 !important;
    }

    .programs-intro .left-content {
        width: 100%;
    }

    .section-4 .content .half-slideshow:first-child {
        margin-bottom: 20px; 
    }
    .header-right {
        padding-top: 28px;
    }
    
    .programs-intro .right-side {
        float: left;
        padding-left: 0;
    }
    
    .right-side .featured-testimonial {
        float: none;
        width: 100%;
        padding-right: 0px;
        max-width: 350px;
        margin: auto;
    }
    
    .header-info {
        border: none !important;
        background: transparent !important;
    }
    
    .page-template-default .left-side {
        display: none;
    }
    
}
/*
 * fixed footer socail icons responsive
 */
@media (max-width: 1200px) {
    .footer-social-group .footer-social-icons li {
        margin-left: 15px !important;
    }
}
@media (max-width: 900px) {
    .fixed-info ul li {
        margin-left: 10px;
    }
    .footer-social-group .footer-social-icons li {
        margin-left: 5px !important;
    }    
}
@media (max-width: 685px) {
    .fixed-info ul li span {
        display: none;
    }
    .phone-desktop .fa-phone {
        display: none;
    }
    .phone-desktop span {
        display: block !important;
    }
}
@media (max-width: 641px) {
    .fixed-info ul .footer-social-group {
        display: none;
    }
    .fixed-info ul li {
        margin-left: 0px;
        width: 33%;
    }
    .fixed-info .get-chat .phone-desktop span {
        display: block;
    }
    #field_1_21,
    #field_1_19 {
        padding-right: 0px !important;
    }

    #field_1_20,
    #field_1_22 {
        padding-left: 0px !important;
    }
    
    #part-2 {
        margin-top: 0;
    }
    
    .fixed-info ul {
        text-align: center;
        display: table;
        margin: auto;
        width: auto;
    }
    
    .fixed-info ul li:first-child {
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
    }
    
    .fixed-info ul li {
        width: auto;
        margin: 0 30px;
        display: inline-block;
    }
    
    .fixed-info .fa,
    .fixed-info ul li:nth-last-child(2) {
        margin-right: 0;
        margin-left: 0;
    }

}

@media (max-width:600px) {

    #careers {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    .post-excerpt {
        margin-left: 0px;
    }

    .testimonial {
        height: auto;
        background-size: auto 250px;
        padding: 20px 20px 60px 20px;
    }
    
    .player-btn {
        left: 48px;
        bottom: 20px;
    }
    
    .testimonial div {
        width: 65%;
    }
    
    .testimonial p {
        font-size: 21px;
        line-height: 29px;
    }

    .grid-2 .grid-content .grid-box:nth-child(2n+1),
    .grid-3 .grid-content .grid-box:nth-child(2n+1),
    .grid-4 .grid-content .grid-box:nth-child(2n+1),
    .grid-5 .grid-content .grid-box:nth-child(2n+1) {
        clear: none;
    }
    
    .grid-2 .grid-box,
    .grid-3 .grid-box,
    .grid-4 .grid-box,
    .grid-5 .grid-box {
        width: 100%;
    }
    
    .section {
        padding: 30px 0 !Important;
    }
    
    .content {
        padding: 5px 30px;
    }
    
    .slideshow-form {
        padding: 30px;
    }
    
    .slideshow-box {
        padding: 30px 0px;
        border-right: 30px solid transparent;
        border-left: 30px solid transparent;
    }
    
    .slide-box {
        padding-right: 0px;
        font-size: 20px;
        line-height: 28px;
    }
    
    .section-22 .grid-box p {
        max-width: 600px;
    }
    
    .search-close,
    .video-close {
        font-size: 25px;
    }
    
    h1,
    h2,
    h1.section-title, 
    h2.section-title {
        font-size: 30px;
        line-height: 38px;
    }
    
    .section-3 .grid-box h3 {
        font-size: 50px;
        line-height: 50px;
    }
    
    .section-6,
    .section-8 {
        background: #f3f4f6;
        background-image: none !important;
    }
    
    .career-areas {
        padding: 0 !important;
        background: #f3f4f6;
    }
    
    h3 {
        font-size: 22px;
        line-height: 30px;
    }
    
    .career-areas .grid-box div {
        padding-left: 0;
        padding-right: 0;
        border-right: 0;
    }
    
    .section-2,
    .section-7 {
        background: none;
    }
    
    #prev,
    #next,
    #news-prev,
    #news-next,
    #featured-prev,
    #featured-next,
    .career-areas:before,
    .page-template-default .left-side,
    .single-post .left-side,
    .grey-border {
        display: none;
    }
    
    .half-slideshow .news-content {
        border: 0 !important;
    }
    
    .half-slideshow > h3 {
        margin: 0 0 20px 0px;
    }
    
    .gform_wrapper ul.gfield_checkbox li, 
    .gform_wrapper ul.gfield_radio li {
        float: none;
        width: auto;
    }
    
    footer .content .footer-box:last-child{
        margin-bottom: 0;
    }
    
    #menu-footer-1 {
        margin-bottom: -15px;
    }
    
    footer {
        background-size: 250px auto;
    }
    
    .news-content {
        border-left: 0;
        border-right: 0;
    }
    
    .half-slideshow .news-slide,
    .news-slide-box .news-slide {
        padding: 0;
    }
    
    header {
        background: -webkit-linear-gradient(rgba(7, 16, 27, 0.8), rgba(7, 16, 27, 0));
        background: -o-linear-gradient(rgba(7, 16, 27, 0.8), rgba(7, 16, 27, 0));
        background: -moz-linear-gradient(rgba(7, 16, 27, 0.8), rgba(7, 16, 27, 0));
        background: linear-gradient(rgba(7, 16, 27, 0.8), rgba(7, 16, 27, 0));
    }
    
    .testimonial p {
        font-size: 22px;
    }
    
    .search-result img {
        float: none;
        margin-bottom: 25px;
    }
    
    .search-result p {
        margin-left: 0;
    }
    
    .search-submit span {
        display: none;
    }
    
    .testimonial-content {
        background-size: 45px;
        padding-top: 85px;
    }
    
    .search-page-form .search-input {
        padding: 0 75px 0 18px;
    }
    
    .right-side .testimonial {
        padding: 10px 0 50px 0;
        height: auto;
        min-height: 250px;
    }
    
    .testimonials-link {
        bottom: 0;
        max-width: 100% !important;
    }
    
    .featured-testimonial {
        margin-bottom: 30px;
        margin-top: -15px;
    }
    
    .page-navigation li {
        border: none;
        border-radius: 0 !important;
        background: #e5e5e5;
        color: #767676;
        margin-bottom: 10px;
    }
    
    .page-navigation .active a,
    .page-navigation.vertical .active a {
        color: #fff;
    }
    
    .page-navigation .active,
    .page-navigation.vertical .active {
        background: #a01a16;
    }
    
    .section-breadcrumb {
        margin: 30px auto 0 auto;
    }
    
    .logo img {
        width: 110px;
        margin-left: 55px;
    }

    .mobile-buttons .fa-bars {
        left: 30px;
        top: 20px;
    }
    
    .header-info li.phone-number {
        top: 12px;
    }

    .header-info li.email {
        top: 10px !important;
    }
    .header-info li.chat-now {
        top: 10px !important;
    }
    #slideshow-5 .grid-content,
    #slideshow-5,
    #slideshow-5 .grid-content .grid-box  .testimonial {
        height: 265px !important;
    }

    #slideshow-5 {
        max-width: 100%;
    }
    
    #slideshow-5 .grid-content .grid-box { 
        padding: 0 10px;
    }
    
    #slideshow-5 .grid-content .grid-box:first-child {
        padding-left: 0;
        padding-right: 20px;
    }
    
    #slideshow-5 .grid-content .grid-box:last-child {
        padding-right: 0;
        padding-left: 20px;
    }
    
    .testimonial p {
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    
    .page-navigation {
        border-bottom: 0;
    }
    
    .page-navigation li {
        /*float: none;*/
        margin-bottom: 8px;
    }

}
@media (max-width: 410px) {
    .fixed-info .content {
        padding: 0 10px;
    }
    .fixed-info a.buttond {
        padding: 8px 15px 7px 15px;
    }
    .fixed-info ul li {
        margin: 0 10px;
    }
}
@media (min-width: 1365px) {
    .testimonial-image {
        width: 45%;
        float: left;
    }
    .testimonial-text {
        float: left;
        margin-left: 35px;
    }
}
@media (max-width: 1365px) and (min-width: 1200px) {
    .testimonial-image {
        width: 100%;
        float: left;
    }
    .testimonial-text {
        float: left;
        margin-left: 0px;
        width: 100%;
    }
    .testimonial-footer img {
        float: none;
        display: block;
        margin: auto;
    }
    .testimonial-footer h3 {
        padding: 30px 0;
        text-align: center;
    }    
}

@media (max-width: 1200px) {
    .left-side.right { padding-left: 0px !important;}
    .left-content .page-navigation li {    margin-right: 0px;}
    .testimonial-image {
        width: 45%;
        float: left;
    }
    .testimonial-text {  
        float: left;
        margin-left: 35px;
    }
    .testimonial-wrap .botomtab {
        width: 100% !important;
    }
    aside.left-side.right.campus {
        width: 80%;
        margin-right: 10%;
    }
    .half-slideshow .news-content {
        height: 100px;
    }    
}
@media (max-width: 1210px) and (min-width: 1025px) {
  .testimonial-column {width: 100%;}
}

/*
 * mobile responsive at program detail page
 */

@media (max-width: 600px) {
  .content .left-side, .content .center-content, .content .right-side {
    width: 100% !important;
    padding-right: 0px !important;
  }
  .single-post .banner-content h1 {
    font-size: 26px;
    line-height: 32px;
  }
    .half-slideshow:last-child .news-content {
        height: 150px;
    }
    .single-programs .section-8 .grid-3 .grid-content {
        width: calc(100% + 41px);
    }  
}
@media (max-width: 450px) {
    .half-slideshow:first-child .news-content {
        height: 115px;
    }
    .half-slideshow:last-child .news-content {
        height: 170px;
    }    
    .single-post .banner-content h1 {
        font-size: 22px;
    }
    .header-info li.email {
        right: 0px !important;
    }
    .header-info li.chat-now {
        right: 95px !important;
    }
}
@media (max-width: 380px) {
    .header-info li.chat-now span, .header-info .more-info{
        display: none;
    }
    .header-info li.email {
        top: 20px !important;
        right: 10px !important;
    }
    .header-info li.chat-now {
        top: 20px !important;
        right: 45px !important;
    }
}
@media (max-width: 350px) {
    .half-slideshow:first-child .news-content {
        height: 150px;
    }
    .half-slideshow:last-child .news-content {
        height: 220px;
    }
}
/*
 *
 */

@media (max-width: 1024px) {
  .testimonial-left {width: 100% !important;}
  .testimonial-left .categories {display: none;}
  .testimonial-right {width: 100% !important;padding-left: 0px !important;}
  .rights {text-align: center !important;}
  .page-template-page-testimonials .testimonial-left {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;    
  }
  .page-template-page-testimonials .testimonial-right {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;    
  }
  .testimonial-group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;    
  }
}
@media (max-width: 1000px) {
    .footer-right-top {  
        display: none;
    }

}
@media (max-width: 900px) {
    .group .left-content.contentsVideo{width:100% !important;}
    .group .left-side.right.campus{ margin-top: 30px;}

}

@media (max-width: 600px) {
    .testimonial-image {
        width: 45%;
        float: left;
    }
    .testimonial-text {
        float: left;
        margin-left: 15px;
    }
    .right-side {
        width:325px;
    }
    .programs-intro .testimonials-link {
        max-width: 130px;
    }
    .page-template-page-programs aside.left-side.right.campus {
        margin-right: 0px;
        margin-top: 0px;
    }
    .page-template-page-programs .left-content .page-navigation li {
        width: 100%;
    }
    .page-template-page-campuses .left-content .page-navigation li {
        width: 100%;
    }    
}


@media (max-width:400px) {
    .testimonial-image {
        width: 100%;
        float: left;
    }
    .testimonial-text {
        float: left;
        margin-left: 0px;
        width: 100%;
    }
    .right-side {
        width:280px;
    } 

    .campuses-map {
        height: 250px;
    }

    .search-section {
        width: 100%;
    }
    
    .search-section h2.section-title {
        font-size: 28px;
        line-height: 35px;
    }
    
    .testimonial-footer img {
        float: none;
        display: block;
        margin: auto;
    }
    
    .testimonial-footer h3 {
        padding: 30px 0;
        text-align: center;
    } 
    .campus-right iframe {
        height: 250px;
    }
    
    .divider-1 {
        display: none;
    }
    
    .slide-box  a {
        margin-left: 0;
        display: block;
    }
    
    .search-result img {
        width: 100%;
    }

}

@media (max-width: 320px){
    .right-side {
        width:263px;
    }    
}
/* Print ----------------------*/

@media print {

    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a,a:visited {
        text-decoration: underline;
    }
    
    a[href]:after {
        content: " (" attr(href) ")";
    }
    
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    
    .ir a:after,a[href^=javascript:]:after,a[href^=#]:after {
        content: "";
    }
    
    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    
    thead {
        display: table-header-group;
    }

    tr,img {
        page-break-inside: avoid;
    }
    
    img {
        max-width: 100% !important;
    }
    
    @page {
        margin: .5cm;
    }
    
    p,h2,h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2,h3 {
        page-break-after: avoid;
    }

}
#sb_instagram .sb_instagram_header{display: none;}
#sb_instagram #sbi_images {
   
    background-color: rgba(255, 255, 255, 0.6) !important;
}
.section.greytorch {
    background-image: url(http://vista-college.com/wp-content/themes/vista-college/img/greytorch.jpg);
}
a.sbi_load_btn{background: #000;color: #fff;}
.wdi_feed_info {    display: none;}
#wdi_feed_0 .wdi_feed_wrapper{padding-right: 15px;background-color: #f4f4f4 !important;}
#wdi_feed_0 .wdi_photo_wrap {      margin: 15px 0px -5px 15px;}
#wdi_feed_0 .wdi_photo_overlay:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
    opacity:9 !important;transition: :0.5s !important;
}
#wdi_feed_0 .wdi_photo_wrap_inner {    border: 0px solid #ffffff !important;}
.wdi_spider_popup_close_fullscreen{font-size:26px !important;}
.ri-grid ul li .gridborder{border: 20px solid #f9f3f3; color: #fff;}
.ri-grid ul {padding-right: 20px;background-color: #f9f3f3;}
.gallary-hover {background-color:rgba(0, 0, 0, 0.6);width:100%;height: 94%;opacity: 0;position: absolute;transition: 0.5s;margin: 20px;}
.ri-grid ul li:hover .gallary-hover{opacity: 9;transition: 0.5s;-webkit-transition: 0.5s;-moz-transition: 0.5s;}
.gallary-hover{color:#fff;text-align:left;padding: 10px;}
.gallary-hover a{background-color: transparent !important;padding: 10px !important;color:#fff !important;    width: 85% !important;}
.slide-center a:hover, .slide-box a:hover, .news-slide>h3>a:hover {
    text-decoration: underline;
}
.request-info a:hover {
    color: #eab4ae;
}
.grid-box .link:hover {
    color: #651916;
}
.footer-box #menu-footer-2 .menu-item a {
    color: #4e4e4e;}
.footer-box #menu-footer-2 .menu-item a:hover {
    color: #4e4e4e;
    text-decoration: underline;
}
.left-side.left {
    float: none;
}
.right-side.lefts {
  float: none;
}
.center-contents {
  float: right;
  min-height: 50px;
  width: calc(100% - 320px);
}
.combine {
  display: inline-block;
  margin-bottom: 50px;
  padding-right: 0;
}
.text-middle {
  top: 50px;
  position: absolute;
  left: 0px;
  padding: 0 45px;
  font-size: 14px;
}
/* testimonial
    start
*/
.testimonial-left {
    float: left;
    width: 350px;
    min-height: 50px;
    margin-bottom: 30px;
}

.testimonial-right {
    float: left;
    box-sizing: border-box;
    width: calc(100% - 350px);
    padding-left: 75px;
    min-height: 50px;
}
.testimonial-left .program-areas {
    margin-top: 25px;
}

/* testimonial
    end
*/
/* section over footer
    start
*/
.footer-top {
    min-height: 400px;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    display: flex;
}
.footer-left-top {
    flex: 1;
    text-align: center;
    width: 100%;
    background: #eaeaea;
    min-height: 400px;
}

.footer-right-top {
    flex: 1;
    position: relative;
    background: #ea6e61;
    overflow: hidden;
}
.footer-right-top:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background: url("img/footer-right-bg.jpg") no-repeat center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.left-side-top {
    height: 50%;
    position: relative;
    min-height: 200px;
}
.left-side-bottom {
    height: 50%;
    padding-top: 20px;
}
.left-side-title {
    position: absolute;
    bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px) ;
}
.left-side-title h1{
    margin-bottom: 5px;
    font-weight:700;
}
.left-side-title span{
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
#program_select {
    height: 40px;
    padding: 0 6px;
    min-width: 30%;
    border: 2px solid #dedbdb;
    border-radius: 2px;
    margin-bottom: 30px;
    max-width: 90%;
}
#campus_select {
    height: 40px;
    padding: 0 6px;
    min-width: 30%;
    border: 2px solid #dedbdb;
    border-radius: 2px;
    margin-bottom: 30px;
    max-width: 90%;    
}
 .get-more-info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px !important;
     color: #fff;
    padding: 9px 20px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 4px;
    background: #b0453f;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
 }

a.get-more-info:hover {
    color: #dadada;

}
#next-button-2 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
/* section over footer
    end
*/
.right-side div:last-child {
    margin-bottom: 0;
}
.center-content.left {
    float: left;
    width: calc(100% - 450px) ;
}
.left-side.right{
    width: 450px;
    float: right;
    padding: 70px 0 0 50px;
    margin-bottom: 0px !important;
}
.program-areas > iframe {
    height: 413px !important;  
}
.left-content.contentsVideo{width: calc(100% - 526px);}
aside.left-side.right.campus{padding-left: 0px !important;}

.testimonial-wrap .programs-intro.group {width: 100%;}
.testimonial-wrap .upper-content { width: calc(100% - 405px);}
.testimonial-wrap .upper-video {padding-left:75px;padding-right: 0; width: 405px;display: block;float: right;margin: 0;}
.testimonial-wrap .upper-video .testimonial{padding-top:0px !important;background-position: right -33px;}
.testimonial-wrap .botomtab { width: 60% ;}
.testimonial-wrap .left-side { width: 35% ;}
.rights{text-align:right;}
.rights img{width: 25px;position: relative;top: 6px;right: 0px; margin-right: 10px;}
.proarealeft{ width: calc(100% - 525px);}
.proofferd {padding-left: 50px; padding-right: 0px;width: 525px;display: block !important;float: right;margin: 0;}


.thumbnail-im { height: 200px;  position:relative;    overflow:hidden;} 
.thumbnail-im img{height:100%;width:100%;border: 15px solid #fff;}
.galleryim{ padding: 15px 15px 0px 0px !important;}
.captiondd {
    position:absolute;
    /*top:-100%;*/
    opacity: 0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail-im:hover .captiondd {
    top:0%;
     opacity: 9;
     background:rgba(0, 0, 0, 0.6);
}
.gallerywrap{background-color: #f6f7f8;display: inline-block; width: 100%;}
.thumbnail-im p{width:100%;white-space: normal;}
.captiondd h4{color:#fff;}
.captiondd p{color:#fff;}

.programs-intro .right-side {
    float: right;
    max-width: 425px;
}

/**********************responsive media query**********************************/
@media (min-width: 2160px){
    .single-campus .left-side, .single-programs .left-side {
        width: 425px;
    }
    .single-campus .center-content, .single-programs .center-content {
        width: calc(100% - 425px);
    }
    .single-campus .right-side, .single-programs .right-side {
        padding-left: 0px;
        padding-right: 75px;
        margin-top: -150px;
    }
}
@media (max-width: 1200px){
    .proarealeft{ width: calc(100% - 405px) !important;}
    .proofferd { 
        width: 405px !important;
        padding-right: 0px !important;
    }
} 

@media (max-width: 1000px){
    .programs-intro .right-side {
        float: left;
    }
} 

@media (max-width: 900px){
.proarealeft{ width:100% !important;}
.proofferd { width:100% !important;}
.testimonial-wrap .upper-content{width:100% !important;}
.testimonial-wrap .upper-video { width:100% !important;padding-left:0px !important;}
.proofferd{padding-left:0px !important;}
.testimonial-wrap .upper-video .testimonial{margin:auto;width:405px !important;}
.testimonial-wrap .botomtab { width: 100% ;}
.testimonial-wrap .left-side { width: 100% ;}
}

@media (max-width: 1500px){
    .banner-content {
        bottom: 0;
    }
}

@media (min-width: 1400px){
    .right-side .featured-testimonial {
        margin-bottom: 60px;
    }  
}

@media (max-width: 450px){
    .testimonial-wrap .upper-video .testimonial{width:100% !important;}
}
.testimonial-wrap .testimonial {
    padding: 0;
}
/*
 *   <i> tag style
 */
i.fa {
    padding-right: 5px;
}

.page-template-page-news .search-results {
    margin-top: 40px;
}

.header-info li.email {
    border-left: 1px solid #ababab;
}
.header-info .call-us {
  display: none;
  line-height: 22px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Roboto', sans-serif !important;
}
.header-info .phone-number {
    display: none;
}

.instagram_container {
    margin-top: -25px;
    background-color: #f6f7f8;
}
.follow-instagram {
    font-size: 16px !important;
    color: #fff;
    padding: 3px 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 4px;
    background: #b0453f;
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
}
.follow-instagram:hover { color: #dcdcdc;}
.follow-instagram .fa-instagram{
    font-size: 26px;
    top: 5px;
    position: relative;
    position: relative;
    top: 3px;
    right: 0px;
    margin-right: 5px;
}
.single-post .section-4.featured-posts {
    display: none;
}
/* 
 * fixed footer socail icons style
 */
.fixed-info ul .footer-social-group {
    float: left;
    margin-left: 0px !important;
    margin-top: 8px !important;
}
.footer-social-group .footer-social-icons li a {
    color: #fff;
    font-size: 24px;
}
.footer-social-group .footer-social-icons li {
    margin-left: 24px;
}
.footer-social-group .footer-social-icons li:first-child, .footer-social-group .footer-social-icons li:nth-child(2) {
    display: block;
}
.gallerywrap {
    padding-top: 50px;
}
/* 
 * homepage news slider
 */
.page-template-page-home .section-4 {
    padding-bottom: 40px !important;
}
.video-btn {
    color: #000;
}
.video-btn.fa-play-circle:before {
    font-size: 40px;
}
.page-template-page-left .center-contents {
    width: calc(100% - 395px);
}
.page-template-page-left .center-contents ul {
    margin: 0 0 25px 0;
    padding: 0 0 0 18px;
    list-style-image: url(//vista-college.com/wp-content/themes/vista-college/img/list.png);
}
.page-template-page-left .center-contents ul > li {
    font-weight: 700;
}
/* 
 * left-sidebar template style
 */
@media (max-width: 1400px) {
  .page-template-page-left .left-side {
    width: 320px !important;
    padding-right: 75px !important;
  }
}
@media (max-width: 1000px) and (min-width: 900px), (max-width: 600px) {
    .content .center-contents p img {
        width: 100%;
    }
}
@media (max-width: 800px) {
  .content .center-contents {
    width: 100% !important;
    padding-right: 0px !important;
  }
  .combine {
    display: none;
  }
}

.center-content .alignright {
    float: right;
    margin-left: 35px;
    margin-bottom: 35px;
}

.center-content .alignleft {
    float: left;
    margin-right: 35px;
    margin-bottom: 35px;
}

.footer-social-group .footer-social-icons li:last-child {
    margin-left: 0;
}
/* Testimonial Style at Success Story Page*/
.success-testimonial-body {
    display: table;
    margin: 0 auto;
    text-align: center;
}
.success-testimonial-image {
    float: left;
}
.success-testimonial-text {
    float: left;
    padding-left: 40px;
}
.success-testimonial-image img {
    width: 120px;
    height: auto;
    border-radius: 50%;
}
.success-testimonial-text h3 {
    color: black;
    font-family: 'Vesper Libre', serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    padding: 55px 0;
    text-align: center;
    max-width: 240px;
}
.success-testimonial-text h3 span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: grey;
}
.ctct-form .ctct-form-field .ctct-text, .ctct-form .ctct-form-field .ctct-email {
    border: 1px solid #a9a9a9;
    margin-left: 10px;
}
@media (max-width: 1400px) and (min-width: 1211px), (max-width: 910px) and (min-width: 801px), (max-width: 460px){
    .success-testimonial-image {
        float: none;
    }
    .success-testimonial-text {
        padding-left: 0px;
    }
    .success-testimonial-text h3 {
        padding-top: 5px;
    }
}
/* Tablet portrait view */
@media only screen and (min-width : 768px) and (max-width : 1024px){ 
    .single-post .left-side {
        display: none;
    }
}
/*Fix for featured testimonial responsive layout*/
@media (max-width:1441px){
  .featured-testimonial{
    margin-top:10px;
  }
  .featured-testimonial .testimonial{
      height:auto;
 
  }

}

@media (min-width:1000px) and (max-width:1441px){
  .featured-testimonial .testimonial{
      height:auto;
      background-position:110px;
  }

}
@media (max-width: 600px) {
    .section.section-4 {
        display: none;
    }
    .home .section-22 .grid-box h2 b {
        display: initial;
    }
    .home .section-22 .grid-box .divider-1 {
        max-width: 240px;
    }
    .home .section-22 .grid-3 .grid-box {
        padding-top: 10px;
    }
    .home .section-22 .grid-3 .grid-box:nth-child(2) {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
}