#ff-stream-7 .ff-header h1,#ff-stream-7 .ff-controls-wrapper > span:hover { color: rgb(59, 61, 64); }
#ff-stream-7 .ff-controls-wrapper > span:hover { border-color: rgb(59, 61, 64) !important; }
#ff-stream-7 .ff-header h2 { color: rgb(114, 112, 114); }
#ff-stream-7 .ff-filter-holder .ff-filter,
#ff-stream-7 .ff-filter-holder:before,
#ff-stream-7 .selectric,
#ff-stream-7 .ff-filter-holder .selectric-ff-filters-select .selectric-items {
	background-color: rgb(205, 205, 205);
}
#ff-stream-7 .ff-filter-holder .ff-filter {
	border: 1px solid rgb(205, 205, 205);
}
#ff-stream-7 .selectric .button:before{
    border-top-color: rgb(205, 205, 205);
}
#ff-stream-7 .ff-stream-profile-header h3,
#ff-stream-7 .ff-stream-profile-meta,
#ff-stream-7 .ff-stream-profile-bio strong {
    color: rgb(60, 60, 60);
}
#ff-stream-7 .ff-stream-profile-bio {
    color: rgb(158, 158, 158);
}

#ff-stream-7 .ff-moderation-button,
#ff-stream-7 .ff-loadmore-wrapper .ff-btn {
	background-color: rgb(62, 62, 62);
}
#ff-stream-7 .ff-moderation-button,
#ff-stream-7 .ff-loadmore-wrapper .ff-btn {
	color: rgb(241, 242, 243);
}

#ff-stream-7 .ff-square:nth-child(1),
#ff-stream-7-slideshow .ff-square:nth-child(1) {
	background-color: rgb(59, 61, 64);
}
#ff-stream-7 .ff-search input {
	border-color: rgb(205, 205, 205);
}
#ff-stream-7 .ff-search input:focus,
#ff-stream-7 .ff-search input:hover {
	border-color: rgb(59, 61, 64);
}
#ff-stream-7 .ff-filter-holder .ff-search:after {
	color: rgb(205, 205, 205);
}
#ff-stream-7, #ff-stream-7 .ff-popup,
#ff-stream-7 .ff-search input {
	background-color: rgba(246, 247, 248, 0);
}

#ff-stream-7 .ff-stream-profile{
    background-color: rgb(250, 250, 250);
}

#ff-stream-7 .ff-stream-profile-header a{
    background-color: rgb(60, 167, 115);
    color: rgb(255, 255, 255);
}
#ff-stream-7 .ff-stream-profile-bio a{
    color: rgb(60, 167, 115);
}

	#ff-stream-7 .ff-search input,
#ff-stream-7 .ff-filter-holder .ff-search:after {
	color: #FFF;
}
#ff-stream-7 .ff-item-meta, .ff-theme-flat .ff-icon, .ff-theme-flat.ff-style-3 .ff-item-cont:before {
	display: none !important;
}
#ff-stream-7 .ff-theme-flat.ff-style-3 .ff-item-cont {
	padding-bottom: 15px;
}
#ff-stream-7 .ff-theme-flat .ff-img-holder + .ff-item-cont,
#ff-stream-7 .ff-theme-flat a + .ff-item-cont {
	margin-top: 0;
}
#ff-stream-7 .ff-header h1, #ff-stream-7 .ff-header h2 {
	text-align: center;
}
#ff-stream-7 .ff-controls-wrapper, #ff-stream-7 .ff-controls-wrapper > span {
	border-color: rgb(205, 205, 205);
}
#ff-stream-7 .ff-controls-wrapper, #ff-stream-7 .ff-controls-wrapper > span {
	color: rgb(205, 205, 205);
}

#ff-stream-7 .shuffle__sizer {
	margin-left: 20px !important;
}

#ff-stream-7 .picture-item__inner {
	background: rgb(62, 62, 62);
	color: rgb(241, 242, 243);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0);
}

#ff-stream-7-slideshow .ff-share-popup:after,
#ff-stream-7 .ff-filter.ff-filter--active,
#ff-stream-7 .ff-filter:hover,
#ff-stream-7 .ff-share-popup, #ff-stream-7 .ff-share-popup:after {
	background: rgb(62, 62, 62);
}

#ff-stream-7 .ff-filter.ff-filter--active,
#ff-stream-7 .ff-filter:hover {
	color: rgb(241, 242, 243);
	border: 1px solid rgb(241, 242, 243);
}

#ff-stream-7 .ff-mob-link {
	background-color: rgb(241, 242, 243);
}

#ff-stream-7 .ff-mob-link:after,
#ff-stream-7-slideshow .ff-share-wrapper a:after {
	color: rgb(62, 62, 62);
}
#ff-stream-7 {
	color: rgb(241, 242, 243);
}
#ff-stream-7 li,
#ff-stream-7-slideshow li,
#ff-stream-7 .ff-square {
	background: rgb(62, 62, 62);
}
#ff-stream-7 .ff-icon, #ff-stream-7-slideshow .ff-icon {
	border-color: rgb(62, 62, 62);
}
#ff-stream-7 .ff-style-2 .ff-icon:after {
	text-shadow: -1px 0 rgb(62, 62, 62), 0 1px rgb(62, 62, 62), 1px 0 rgb(62, 62, 62), 0 -1px rgb(62, 62, 62);
}
#ff-stream-7 .ff-content a{
	color: rgb(89, 211, 243);
}

#ff-stream-7 .ff-item h1, #ff-stream-7 .ff-item h4, #ff-stream-7-slideshow h4,#ff-stream-7-slideshow h4 a,
#ff-stream-7 .ff-name, #ff-stream-7-slideshow .ff-name
	{
	color: rgb(255, 255, 255) !important;
}

#ff-stream-7 .ff-mob-link:hover {
	background-color: rgb(255, 255, 255);
}

#ff-stream-7 .ff-nickname,
#ff-stream-7 .ff-timestamp,
#ff-stream-7 .ff-item-bar,
#ff-stream-7 .ff-item-bar a {
	color: rgb(241, 239, 240) !important;
}

#ff-stream-7 .ff-item {
	text-align: left;
}
#ff-stream-7 .ff-overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

